<div>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
          <ion-title>Topic - {{topic | uppercase}}</ion-title>
      </ion-col>
      <ion-col></ion-col>
      
    </ion-row>
    <ion-row>
        <ion-col></ion-col>
        <ion-col>
            <ion-title  [@points]="pointsState" class="points ">
                Points {{currentPoints$ | async}}
            </ion-title> 
        </ion-col>
        <ion-col></ion-col>
        
      </ion-row>
  </ion-grid>
   
</div>