<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Words Matching</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <scoreboard></scoreboard>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-row style="min-height: 50px" *ngFor="let record of rootArray">
        <button block
                [color]="record.isActive ? 'dark': 'primary'"
                [@buttonSelction]="record.isActive ? 'selected': 'null'"
                [@buttonVisibility]="record.isVisible ? 'show': 'hide'"
                (click)="onRootSelected(record)" ion-button>{{record.value | lowercase}}</button>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row style="min-height: 50px" *ngFor="let record of targetArray">
          <button block [color]="record.isActive ? 'dark': 'primary'"
               [@buttonSelction]="record.isActive ? 'selected': 'null'"
               [@buttonVisibility]="record.isVisible ? 'show': 'hide'"
                  (click)="onTargetSelected(record)" ion-button>{{record.value | lowercase}}</button>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
