<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Words Matching</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <scoreboard></scoreboard>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-row style="min-height: 50px" *ngFor="let record of rootArray">
        <button block
                [color]="record.isActive == true ? 'dark': 'primary'"
                [hidden]="record.isVisible == false"

                (click)="onRootSelected(record)" ion-button>{{record.value}}</button>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row style="min-height: 50px" *ngFor="let record of targetArray">
          <button block [color]="record.isActive == true ? 'dark': 'primary'"
                  [hidden]="record.isVisible == false"

                  (click)="onTargetSelected(record)" ion-button>{{record.value}}</button>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
